<div data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image"
        class="row infos ${properties.alignment} mx-5">
    <div class="col-md-7">
        <h2 class="infos-heading">${properties.title} <span class="text-muted">${properties.snippet}</span></h2>
        <p class="lead">${properties.description}</p>
    </div>
    <div class="col-md-5 d-flex align-items-center">
        <img class="bd-placeholder-img bd-placeholder-img-lg  img-fluid mx-auto" src="${image.src}" alt="Highlight 01" width="100%" height="100%">
    </div>
</div>